<p id="notice"><%= notice %></p>

<%= render @post %>
<font size=4 color="Cyan">
<h2>Comments</h2>
</font>
<div id="comments">


  <%= render @post.comments.reverse %>

</div>
<%= form_for [@post, Comment.new], remote: true do |f| %>
    <p>
    <%= f.label :body, "New Comment" %><br/>
    <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add Comment"%></p>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
